<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application



        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jesyonkoli">
        <activity
            android:name=".ui.portaria.AssinaturaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.portaria.PendentesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.portaria.HistoricoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.portaria.NovaEncomendaActivity"
            android:exported="false" />
        <activity android:name=".ui.admin.UsuariosActivity" />

        <activity android:name=".ui.admin.UnitsActivity" />

        <activity android:name=".ui.morador.MoradorDetalheEncomendaActivity" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.admin.AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.morador.MoradorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.portaria.PortariaDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".ui.portaria.DetalheEncomendaActivity" />
    </application>

</manifest>